@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* { font-family: 'Noto Sans KR', sans-serif; margin: 0; padding: 0; box-sizing: border-box; }

.container { width: 1100px; margin: 0 auto; }

.header-wrap { display: flex; justify-content: space-between; height: 90px; align-items: center; }
.header-wrap > ul { display: flex; }
.header-wrap > ul > li { padding: 0 10px; }
.header-wrap > ul > li > a { color: black; font-size: 17px; text-decoration: none; }

#mainTop { background:  url(./images/tittle.png), url(./images/bg01.jpg); height: 250px; }

#mainCalc { padding: 60px 0; }
#mainCalc > .container { overflow: hidden; }
#mainCalc .calc-box { padding: 0 30px; float: left; width: 33.33333%; position: relative; }
#mainCalc .calc-box > a { background-color: red; color: #fff; display: flex; width: 280px; margin: 0 auto; height: 55px; justify-content: center; align-items: center; text-decoration: none; }
#mainCalc .calc-box > a:hover { background: pink; transition: .2s background; }
#mainCalc .calc-box .calc-line { width: 1px; height: 150px; background: green; position: absolute; right:0; top:50%; transform: translate(-50%, -50%); } 
#mainCalc .calc-top { width: 280px; display: flex; justify-content: space-between; margin: 0 auto; }
#mainCalc .calc-middle { border: 1px solid red; width: 280px; margin: 10px auto; overflow: hidden; }
#mainCalc .calc-middle > p { float: left; background-color: blue; display: flex; width: 70px; height: 55px; justify-content: center; align-items: center; color: #fff; font-size: 20px; }
#mainCalc .calc-middle > input { float: left; width: 208px; height: 100%; height: 55px; }

.footer-top { background: url(./images/bg06.jpg); height: 150px; text-align: center; }
.footer-top > div > h2 { font-size: 30px; font-weight: bold; padding: 60px 0; }

.footer-bottom { height: 330px; background-color: gray; padding: 65px 0 0; display: block;}
.footer-bottom > div > ul { font-size: 17px; color: yellow; }
.footer-bottom > div > ul b { font-weight: bold; }
.footer-bottom > div > ul > li:nth-child(2) { padding: 10px 0; }